{% extends "base.html" %}
{% block title %} Flashcard {% endblock %}

{% block content %}
    <div class="side-bar" id="side-bar">
        <button class="set-button" id="1">Set 1</button>
        <button class="set-button" id="add-set">Add Set</button>
        <button id="toggle-dark">Dark Mode</button>
        <button id="open-popup">Open</button>
    </div>
    <div class="main-page">
        <h1 id="title">Chief</h1>
            <div class="flashcard">
            <div class="main-card-wrapper">
                <div class="main-card">
                    <span class="material-symbols-outlined arrow">arrow_back_ios</span>
                    <div class="card" id="card">
                        <div class="card-top">
                            <span class="material-symbols-outlined" id="edit"> edit </span>
                            <span class="material-symbols-outlined" id="star">star</span>
                        </div>
                        <div id="card-text">
                            Blah Blah Blah
                        </div>
                        <div class="card-bottom"></div>
                    </div>
                    <span class="material-symbols-outlined arrow">arrow_forward_ios</span>
                </div>
                <div class="action-buttons">
                    <button id="favorites">Favorites</button>
                    <button id="shuffle">Shuffle</button>
                    <button id="side-by-side">Side-By-Side</button>
                </div>
            </div>
        </div>
        
    </div>
    
    <div class="fullscreen-container">
        <div id="popup">            
            <input type="text" placeholder="SET NAME" id="set-name-input">
            <div id="add-cards-wrapper">
                <template id="input-block">
                    <div class="input-block-wrapper">
                        <span id="delete-card" class="material-symbols-outlined">close</span>
                        <div class="sub-block left">
                            <span class="input-text-box" role="textbox" contenteditable></span>
                            <span class="material-symbols-outlined image"> image </span>
                        </div>
                        <div class="sub-block right">
                            <span class="input-text-box" role="textbox" contenteditable></span>
                            <span class="material-symbols-outlined image"> image </span>
                        </div>
                    </div>
                    
                </template>
                <button id="add-card">Add Card</button>
            </div>
            
            <div class="exit-buttons">
                <button id="cancel-button">Cancel</button>
                <button id="confirm-button">Confirm</button>
            </div>
            
        </div>
    </div>
{% endblock %}